<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about-codex</title>

    <link rel="icon" href="static/image/Asset36.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://127.0.0.1:8000/static/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <!-- Navigation Part -->
    <nav class="navbar navbar-expand-lg bg-light navbar-light custom-navbar topnav fixed-top">
        <a class="navbar-brand" href="#">#codeXsite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown"
            aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codex_home' %}">&nbsp;Home</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'services' %}">&nbsp;Services</a></li>
                <li class="nav-item"> <a class="nav-link" href="#Portfolio">&nbsp;Portfolio</a></li> -->
                <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">&nbsp;About</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'contact' %}">&nbsp;Contact us</a> </li>
            </ul>
        </div>
    </nav>
    <!-- END NAVIGATION -->


    <section>
        <div class="container about-container">
            <h1 class="about-us-sp">About Us</h1><hr>

            <div class="row my-4">
                <div class="col-md-4 col-sm-6">
                    <div class="mt-5">
                        <a>
                            <i class="fa fa-map-marker" aria-hidden="true"> </i> 1778, CPI
                            Sarkhej-Gandhinagar Highway.
                        </a><br>

                       <br> <a>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            codsite@gmail.com</a><br>
                        <br><a href="tel:6353121872"> 
                            <i class="fa fa-phone" aria-hidden="true"> </i>
                            6353121872
                        </a>
                    </div>
                </div>

                <div class="col-md-8 col-sm-6">
                    <div>
                        <img class="about-img-png" src="http://127.0.0.1:8000/static/image/about-us-logo.png" class="w-100 h-80"> 
                    </div>
                </div>

            </div>

            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="content-codex">
                        <p class="text-justify font-size-21">codeXsite is well known to craft the most
                            innovative software development. We offer mobile apps like
                            (Android apps, Ios app), website development and Windows apps development.
                            Our skilled team &amp; our products are engineered to bring growth to your business.
                            We believe
                            in delivering the services without compromising on time and quality.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-codex">
                        <p class="text-justify font-size-21">
                            codeXsite is well known to craft the most
                            innovative software development. We offer mobile apps like
                            (Android apps, Ios app), website development and Windows apps development.
                            Our skilled team &amp; our products are engineered to bring growth to your business.
                            We believe
                            in delivering the services without compromising on time and quality.

                             <!-- We create perfect solutions to solve your specific
                            problems.
                            The solutions are designed as per your business processes to satisfy
                            your exclusive needs of making your workflow easier, faster and more efficient. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <!-- About Sec END -->

    <!-- Footer Section -->
    <section>
        <footer>
            <nav class="navbar bg-light justify-content-center my-footer">
                <b>
                    <p></p>Copyright<sup>©</sup> #Recharge.<p></p>
                </b>
            </nav>
        </footer>
    </section>
    <!-- Footer Section END-->


    <!-- Operators Section END-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>